# tool
/tools/src/binfile/*
!/tools/src/binfile/Makefile
!/tools/src/binfile/*.sh
!/tools/src/binfile/*.c

tools/x86/bin
tools/arm64/bin/

tools/src/tmp
tools/src/pciutils/pciutils-*

*.AppImage

# vim
vim/.netrwhist


# src
input.h-labels.h


*.o

