
#Switch case
snippet sw
	switch (${1:/* condition */}) {
	case 1:
		${2:/* code */}
		break;
	default:
		break;
	}

snippet debug
	#define debug_print(...) \
		do { fprintf(stderr, "%s:%d:%s(): ",__FILE__, __LINE__, __func__);\
			 fprintf(stderr, __VA_ARGS__); } while (0)

