[global_config]
  focus = system
[keybindings]
  switch_to_tab_1 = <Alt>1
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  switch_to_tab_6 = <Alt>6
  switch_to_tab_7 = <Alt>7
  switch_to_tab_8 = <Alt>8
  switch_to_tab_9 = <Alt>9
  hide_window =  # 禁用Ctrl+Alt+a快捷键，防止与截屏快捷键冲突
[profiles]
  [[default]]
    background_color = "#2e3436"
    background_darkness = 1.0
    cursor_color = "#3036ec"
    font = Monospace 9
    foreground_color = "#d3d7cf"
    show_titlebar = False
    scrollbar_position = hidden
    scroll_on_output = True
    scrollback_lines = 999999
    login_shell = True
    custom_command = tmux
    use_system_font = False
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
